html {
  font-family: 'Russo One', sans-serif;
}

.text1 {
  color: whitesmoke;
  padding: 5px;
}

.text2 {
  color: whitesmoke;
  padding: 5px;
  margin-right: 50px;
}

.text1:hover {
  cursor: grab;
  background-color: gray;
  transition: 0.4s;
}

.text2:hover {
  cursor: grab;
  background-color: gray;
  transition: 0.4s;
}
