*{
  box-sizing: border-box;
  font-family: 'Russo One', sans-serif;
}
body{
width: 100%;
margin: 0;
}

.shapka {
  padding: 10px  0px 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px black solid;
  background-color: black;
  box-shadow: 10px;
  }
  .logo {
      font-size: 24px;
      font-weight: bolder;
      color: whitesmoke;
  }
  .textvshapke {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: bolder;
    }
  .text1 {
  color: whitesmoke;
  padding: 5px;
  }
  .text2 {
    color: whitesmoke;
    padding: 5px;
    margin-right: 50px;
    }
  .korzinka {
    margin-left: 600px;
  }
  .text1:hover {
  cursor: grab;
  background-color: gray;
  transition: 0.4s;
  }
  .text2:hover {
    cursor: grab;
    background-color: gray;
    transition: 0.4s;
    }
  .search-box {
      background: whitesmoke;
      height: 35px;
      border-radius: 40px;
      padding: 10px;
  }
  .search-txt {
      border: none;
      background: none;
      outline: none;
      float: left;
      padding: 0;
      color: black;
      font-size: 16px;
      transition: 0.4s;
      line-height: 1px;
      width: 0px;
      transition: 0.4s;
  }
  .search-btn {
      color: black;
      float: right;
      border: 1px whitesmoke solid;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding-bottom: 7px;
      background-color: whitesmoke;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
  }  
  .search-box:hover > .search-txt {
      width: 202px;
      padding: 0 6px;
  }
  .fa-magnifying-glass{
    font-size: 20px;
  }

  .swiper {
    width: 1200px;
    height: 600px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.preview-container{
  width: 100%;
  margin: auto;
}
.hits{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 20px;
  font-weight: bolder;
}
.new{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 20px;
  font-weight: bolder;
}
.sales{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 20px;
  font-weight: bolder;
}
.parent{
  width: 70%;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 0px;

}
.line{
  border: 2px rgb(204, 197, 197) solid;

  width: 10%;
}
.box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.price{
  color: rgb(58, 57, 57);
  font-size: 150%;
  font-weight: bolder;
  margin-bottom: 10px;
}
.cart-btn{
  padding: 5px;
  color: black;
  font-weight: bold;
}
.cart-btn:hover{
  cursor: grab;
  border: 1px rgb(7, 189, 7) solid;
  background-color: rgb(49, 231, 49);
  border-radius: 25px;
  padding: 5px;
  color: black;
  font-weight: bold;
  transition: 1s;
}
.links-container{
  width: 100%;
  margin: auto;
  border: 1px whitesmoke solid;
  background-color: whitesmoke;
}
.linksname{
  display: flex;
  justify-content: space-around;
}
.catalogue{
  font-weight: bolder;
  font-size: 25px;
  color: black;
}
.contacts{
  font-weight: bolder;
  font-size: 25px;
  color: black;
}
.linkstovktg{
  display: flex;
  font-size: 30px;
}
.linkstovk{
  margin-right: 15px;
  color: blue;
}
.linkstovk:hover{
  cursor: grab;
}
.linkstotg:hover{
  cursor: grab;
}